progressbar2
pathos>=0.2
numpy
scoop
matplotlib
# jupyter_console does not yet support prompt_toolkit version 3.x
prompt_toolkit~=2.0.10
jupyter
IPython
ipywidgets
tblib
pyyaml

#Testing requirements
pytest